{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <table>
     {% for users in user %}
            <tr>
                
                <td>{{ users.email }}</td>
               
               
               
            </tr>
             <tr>
                <td>{{ users.name }}</td>
               
               
               
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    </table>
    <table>
      <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Banner</th>
                <th>CreateAt</th>
                <th>Author</th>
                 
                 <th>actions</th>
                
         
            </tr>
        </thead>
        <tbody>
        {% for blog_post in blog_posts %}
            <tr>
                <td>{{ blog_post.id }}</td>
                <td>{{ blog_post.titre }}</td>
                <td>{{ blog_post.contenu }}</td>
                <td>{{ blog_post.banner }}</td>
                <td>{{ blog_post.createAt ? blog_post.createAt|date('Y-m-d') : '' }}</td>
                <td>{{ blog_post.author }}</td>
                <td>
                    <a href="{{ path('blog_post_show', {'id': blog_post.id}) }}">show</a>
                    <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
